body {
	margin: 0;
}

nav {
background-color: #69a41E;


}

nav div {
	background-color: #77BA22;
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 10px;
}

#hamburger {
	float: right;
	margin-top: 15px;
}

nav ul	{
	display: none;
}

#mobile-banking {
	background-color: #eee;
	padding: 20px;
	font-family: helvetica , Arial;
}

#mobile-banking h1 {
	font-size: 16px;
}

.login {
	background-color: #528224;
	color: white;

	width: 40%;
	text-align: center;


} 
.login + .login { /* grab element with class of .login after element with class of .login */
	float: right;
}

#mobile-banking a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

#mobile-banking .contact {
	background-color: #fff;
	display: block;
	color: #333;
	border: 1px solid #ddd;
}

#mobile-banking ul {
	list-style: none;
	padding-left: 0;
}

#hero {
	background-color: #333;
	padding-top: 200px;
	background-image: url(http://placehold.it/400x300);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: contain;
	max-width: 1346px;
	margin: 0 auto;

}

#hero > p {
	background-color: #fff;
	display: inline-block;
	padding: 10px;
	float: right;

}

#hero div {
	background-color: inherit; /* uses whatever colour is included in the section */
	color: #fff;
	padding: 10px;
	text-align: center;
	clear: both;
}



#hero a {
	background-color: #fff;
	padding: 10px;
	color: #1B9DCF;
	text-decoration: none;
	display: inline-block;

}

#hero button {
	display: none;
}

#products {
	text-align: center;
	padding: 10px;
}

#products h1 {
	color: #77ba22;
}

#products a {
	text-decoration: none;
	color: #25A5CA;
	display: inline-block;
	padding: 10px;
	background-color: #fafafa;
	margin: 3px;
	border: 1px solid #ddd;
}

#products a:hover {
	background-color: #efefef;
}

#products .percentage + a {/* grab anchor after the percentage class */
	background-color: transparent;
	border: none;
}

.percentage {
	width: 300px;
	height: 200px;
	border: 1px solid #efefef;
	margin: 20px 0;
	box-shadow: 0 14px 0 -10px #efefef;
	text-align: left;
}

.percentage > span {
	text-transform: uppercase;
	background-color: #dfdfdf;
	padding: 7px;
	display: inline-block;
	font-weight: bold;
}

span.limited {
	background-color: #ff9100;
	color: #fff;
}

.percentage p {
	font-size: 64px;
	font-weight: bold;
	margin: 10px 0;
	padding-left: 10px;
}

.percentage p span {
	font-size: 30px;
	position: relative;
}

.percentage p span:first-child {

	bottom: 23px;
}

.percentage p span:last-child {
	right: 28px;
	font-size: 25px;
}

.percentage ul {
	list-style: none;
	color: #888;
	padding-left: 10px;
}



/*----------------------------------------------------------------------*/

@media all and (min-width: 600px) {

	#mobile-banking {
		display: none;
	}
}



@media all and (min-width: 720px) {

	nav ul {
		display: block;
		margin: 0;
	}

	#hamburger {
		display: none;
	}

	nav img {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px; /* alternative to adding margins to create spacing */
		padding: 0 10px;
	}

	nav ul:nth-of-type(1) {
		float: left;
	}

	nav ul:nth-of-type(2) {
		float: right;
	}

	 nav div:after {
		content: '';
		display: block;
		clear: both;
	}

	nav a {
		color: #fff;
		text-decoration: none;
	}

	nav a:hover {
		text-decoration: underline;
	}

	nav a span {
		display: none;
	}

	#hero {
		position: relative;
		background-size: auto;
		background-position: right;
	}

	#hero div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
	}

	#hero:after {
		content: "";
		display: block;
		clear: both;
	}

	#hero > p {
		margin-bottom: 0;
	}


}

@media all and (min-width: 970px) {

	nav a span {
		display: inline;
	}

	nav li {
		padding: 0 20px;
	}
}



@media all and (min-width: 1020px) {

	#hero button {
		display: block;
		position: absolute;
		top: 50%;
	}

	#prev {
		left: 0;
	}

	#next {
		right: 0;
	}
}
